<head>
  <style>
    footer {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }

    #about-btn {
      color: rgba(0,0,0,.55);
    }

    #about-btn:hover {
      color: #212529;
    }
  </style>
</head>

<footer class="nav justify-content-center bg-light">
  <div>
    <%= link_to "About Us", about_path, class: "nav-link", id: "about-btn"  %>
  </div>
</footer>
